body{
  overflow: hidden;
  font-family:menlo;

}

audio {
   display:none;
}
#myVideo {
  position: fixed;
  font-family:menlo;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  font-family:menlo;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  left:0px;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  font-family:menlo;
  cursor: pointer;
}

#myBtn:hover {
  font-family:menlo;
  background: #ddd;
  color: black;
}


#pulse-x {
  top: 60%;
  left: 70%;
  cursor: pointer;
}

#pulse-y{
  top: 30%;
  left: 40%;
  cursor: pointer;
}

#pulse-z{
  top: 10%;
  left: 10%;
  cursor: pointer;
}

#pulse-a{
  top: 30%;
  left: 30%;
  cursor: pointer;
}

.pulse-ring {
  content: '';
  width: 20px;
  height: 20px;
  border: 4px solid #F00;
  border-radius: 50%;
  position: absolute;
  animation: pulsate infinite 1.5s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.exxon{
  margin-left:55%;
  margin-top:10%;
  height:100%;
  width:30%;
  cursor:pointer;
  postion:absolute;
}
.exxon:hover{
  margin-top:5%;
  transition:0.5s;
  opacity:0.5;

}

.oil{
  margin-left:40%;
  margin-top:30%;
  cursor:pointer;
  position:absolute:;
}

.oil:hover{
  margin-top: 5%;
  transition: 0.5s;
  opacity: 0.6;
}

.next {
  position: absolute;
  top: 90%;
  left: 90%;
  background-color: white;
  opacity: 0.5;
  padding: 15px;
  color:black;
  font-family:menlo;
}
.next:hover{
  color:salmon;
  transition:0.4s;
  opacity:0.3;
  transform:scale(1.2);
}
.back {
  position: absolute;
  top: 90%;
  right: 90%;
  background-color: white;
  opacity: 0.5;
  padding: 15px;
  color:black;
  font-family:menlo;
}
.back:hover{
  color:salmon;
  transition:0.4s;
  opacity:0.3;
  transform:scale(1.2);
}

#bg1 {
  width: 100%;
  height: 768px;
  margin: auto;
}

#bg3{
  width:100%;
  height:768px;
  margin:auto;
}

form {
  margin: 0 auto;
  width:250px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#bg2 {
  background-image: url("https://img.buzzfeed.com/buzzfeed-static/static/2015-07/25/10/enhanced/webdr07/anigif_enhanced-30277-1437833349-2.gif");
  width: 100%;
  background-size:cover;
  height: 768px;
  margin:auto;
  z-index:1;
}

a:link {
  text-decoration: none;
}

bold {
  color:black;
  opacity:0.95;
}

.home{
  position:absolute;
  font-family:menlo;
  text-align:center;
  font-size:27px;
  left:35.5%;
  top:20%;
  z-index:1;

}

.home:hover{
  opacity:0.6;
  transition:0.5s;
}

.help{
  position:absolute;
  font-family:menlo;
  font-size:27px;
  left:30%;
  top:20%;
  width: 40%;
  z-index:1;
  color:white;
}

.intro{
  left:25%;
  width:50%;
  height:30%;
  top:35%;
  font-size:18px;
  position:absolute;
  font-family:menlo;
  color:white;
  position:absolute;
  z-index:1;
}


.home1{
  position:absolute;
  font-family:menlo;
  text-align:center;
  font-size:25px;
  left:37%;
  top:15%;
  bottom:40%;
  z-index:1;
}

.home1:hover{
  opacity:0.6;
  transition:0.5s;
}

.home2{
  position:absolute;
  font-family:menlo;
  text-align:center;
  font-size:25px;
  left:45%;
  top:15%;
  bottom:40%;
  z-index:1;
}

.home2:hover{
  opacity:0.6;
  transition:0.5s;
}

.introx{
  left:16%;
  width:50%;
  height:10%;
  top:35%;
  font-size:18px;
  position:absolute;
  font-family:menlo;
  color:white;
  z-index:1;
}

.introx:hover{
  transform:scale(1.2);
  transition:0.6s;
}

#hoverbar{
    width:45%;
    border-style:dotted;
    position:absolute;
    top:40%;
    left:27%;
    visibility:hidden;
    border-width: 1px;
    font-size:14px;
    color:yellow;
}
.introx:hover > #hoverbar{
    visibility:visible;
}


.introy{
  left:56%;
  width:50%;
  height:60%;
  top:50%;
  font-size:18px;
  position:absolute;
  font-family:menlo;
  color:white;
  position:absolute;
  z-index:1;
}
.introy:hover{
  transform:scale(1.2);
  transition:0.6s;
}
.introz{
  left:6%;
  width:50%;
  height:30%;
  top:67%;
  font-size:18px;
  position:absolute;
  font-family:menlo;
  color:white;
  position:absolute;
  z-index:1;
}
.introz:hover{
  transform:scale(1.2);
  transition:0.6s;
}

.pulse-ring {
  content: '';
  width: 20px;
  height: 20px;
  border: 4px solid #F00;
  border-radius: 50%;
  position: absolute;
  animation: pulsate infinite 1.5s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

#pulse-1 {
  top: 200px;
  left: 100px;
  cursor: pointer;
}

#pulse-2 {
  top: 300px;
  left: 600px;
  cursor: pointer;
}

#pulse-3 {
  top: 500px;
  left: 900px;
  cursor: pointer;
}

#pulse-4 {
  top: 400px;
  left: 800px;
  cursor: pointer;
}

#pulse-5 {
  top: 200px;
  left: 1000px;
  cursor: pointer;
}

#pulse-6 {
  top: 240px;
  left: 400px;
  cursor: pointer;
}

#pulse-7 {
  top: 100px;
  left: 300px;
  cursor: pointer;
}

#pulse-8 {
  top: 540px;
  left: 700px;
  cursor: pointer;
}

#pulse-b {
  top: 540px;
  left: 700px;
  cursor: pointer;
}
#gas:hover {
  fill: #fff;
}

.gas {
  fill: #E0A2A0;
  cursor: pointer;
}
.gas:hover{
  fill: #000;
}
#gas-highlight{
  position:absolute;
  height: 200px;
  width: 600px;
  top: 25%;
  left: 25%;
  font-family:menlo;
  display: none;
}

.liquid {
  fill: #CF1643;
  cursor: pointer;
}
.liquid:hover{
  fill: #000;
}

#liquid-highlight{
  position:absolute;
  height: 200px;
  width: 600px;
  top: 25%;
  left: 25%;
    font-family:menlo;
  display: none;
}

.coal {
  fill: #981623;
  cursor: pointer;
}
.coal:hover{
  fill: #000;
}
#coal-highlight{
  position:absolute;
  height: 200px;
  width: 600px;
  top: 25%;
  left: 25%;
    font-family:menlo;
  display: none;
}

.supimg {
  position: absolute;
  width: 400px;
  left: 750px;
}
#graph1 {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
}

#trash-icon {
  width: 5%;
  position: absolute;
  top: 400px;
  left: 1100px;
}

#coal-line {
  cursor: pointer;
  stroke-width:11;
  stroke:#981623;

}

#coal-line:hover {
  stroke-width:15;
  stroke:#000;
}

#coal-popup {
  position:absolute;
  height: 20%;
  width: 40%;
  top: 69%;
  left: 28%;
  font-family:menlo;
  display: none;
}

#liquid-line {
  cursor: pointer;
  stroke-width:11;
  stroke:#CF1643;

}

#liquid-line:hover {
  stroke-width:15;
  stroke:#000;
}

#liquid-popup {
  position:absolute;
  height: 20%;
  width: 40%;
  top: 67%;
  left: 28%;
    font-family:menlo;
  display: none;
}

#gas-line {
  cursor: pointer;
  stroke-width:11;
  stroke:#E0A2A0;
}

#gas-line:hover {
  stroke-width:15;
  stroke:#000;
}

#gas-popup {
  position:absolute;
  height: 200px;
  width: 480px;
  top: 68%;
  left: 28%;
    font-family:menlo;
  display: none;
}

#graph2 {
  position: absolute;
}
